* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size:0.9rem;
}

.container {
    background: #23424a;
    color: #ffffff;
    width: 100%;
    padding: 100px 0;
  }

h1 {
    font-weight: bold;
    font-size: 2rem;
}

p {
    margin-bottom: 2em;
    line-height: 1.5;
}

.btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    color: #23424a;
    background: #38CFD9;
    border-radius: 30px;
    padding: 0.8rem 1.3rem;
    display: inline-block;
}

.btn:hover, .btn:focus {
    opacity: 0.75;
}

.intro-content {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
}

.intro__text {
    width: 60%;
}