* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    background: #23424a;
    color: white;
    padding: 50px 30px;
    font-size: 21px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: #38CFD9;
    border-radius: 30px;
    padding: 1rem 3rem;
}

.intro-content {
    width: 50%;
}