* {
    box-sizing: border-box;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

.header {
    padding: 5em;
    text-align: center;
    background-color: #f3eed9;
}

.tagline {
    font-family: Roboto;
    font-weight: 300;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 0.5em;
}

.heading {
    font-family: Playfair Display;
    font-size: 2.3rem;
    font-weight: 800;
    color: #824936;
    line-height: 1;
}

.container {
    max-width: 1128px;
    width: 100%;
    margin: 0 auto;
}