* {
    box-sizing: border-box;
}

h1, h2, p, main {
    margin: 0;
    padding: 0;
}

.p {
    font-style: Roboto;
    font-size: 0.8rem;
    margin-right: 1rem;
}

.header {
    padding: 5em;
    text-align: center;
    background-color: #f3eed9;
}

.tagline {
    font-family: Roboto;
    font-weight: 300;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 0.5em;
}

.heading {
    font-family: Playfair Display;
    font-size: 2rem;
    font-weight: 800;
    color: #824936;
    line-height: 1;
}

.subtitle {
    font-family: Playfair Display;
    font-size: 1.3em;
    width: 100%;
    margin-bottom: 1em;
}

.container {
    max-width: 1128px;
    width: 100%;
    margin: 0 auto;
}

.section {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.section.two {
    background: #222c2a;
    color: white;
}

.section.three {
    background: #824936;
    color: white;
}

.text-center {
    text-align: center;
}

.img {
    max-width: 100%;
}

@media (max-width: 650px) {
    .row {flex-wrap: wrap};
}

.m-1 {
    margin: 1rem;
}

.h-100 {
    height: 100%;
}